*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #fff;
}

.services{
    width: 90%;
    margin: 50px auto;
}

.services h1{
    text-align: center;
    color: #1d4fa8;
    font-size: 50px;
    margin-bottom: 50px;
}

.services-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.service-box{
    display: flex;
    align-items: flex-start;
}

.icon{
    width: 65px;
    height: 65px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 65px;
    margin-right: 20px;
}

.icon i{
    font-size: 28px;
    color: #000;
}

.content h3{
    font-size: 28px;
    margin-bottom: 10px;
    color: #000;
}

.content p{
    font-size: 16px;
    color: #666;
    line-height: 25px;
}

.active .icon{
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}

.active .icon i{
    color: #fff;
}

.active .content h3{
    color: #ff4d4d;
}
.icon{
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 50%;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
}